html,
body {
  padding: 0;
  margin: 0;
  /* font-family: PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif; */
  /* background: linear-gradient(to bottom, transparent, #fff) #eceeef; */
  background-color: var(--color-bg-1);
  color: var(--color-text-1);
  color-scheme: dark;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Tahoma, PingFang SC, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Yu Gothic UI", "游ゴシック体", "Noto Sans Japanese", Microsoft Yahei, Arial, Hiragino Sans GB, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

body {
  padding: 1rem;
}

p {
  margin: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
